
@font-face {
  font-family: "IBMbold";
  src: local("IBM"),
    url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype");
}

body{
  margin: 0;
}

ul, nav{
list-style:none;
padding: 0;
margin:0;
}
h1, h2, h3, h4, h5, h6, p{
margin:0;
}
a{
text-decoration: none;
}
input{
box-sizing:border-box;
}
img{
display:block;
box-sizing:border-box;
}
button{
border:none}